@model TravelBlog.Models.Location
@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.PeopleId): @Html.DisplayFor(model => model.PeopleId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) | @Html.ActionLink("Back to list", "Index")</p>
