@model TravelBlog.Models.Location
@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />
<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LocationId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.PeopleId)
    @Html.DropDownList("PeopleId")

    <input type="submit" value="Save" class="btn btn-default"/>
}
<p>@Html.ActionLink("Back to list", "Index")</p>
