@model IEnumerable<TravelBlog.Models.Location>
@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var listLocation in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelLocation => listLocation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelLocation => listLocation.People.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId }) |
                @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create Location", "Create")
</p>


 
